<div class="inside">
  <img src="assets/images/teacher.png" alt="">
  <div class="right">
      <p class="name">王艳华</p>
      <p class="content"><span>@全体成员</span>，在第五次任务检查过程中，我惊喜的发现有同学在自行查阅资料，
        寻得课堂之外的解决方案，非常好，特此表扬！！！</p>
      <p class="content">拓展知识分享：删除重复元素的程序，列表的count（）方法也是一种不错的解决方案。</p>
      <div class="footer">
          <ul>
            <li>2016-11-09  11:31</li>
            <li class="li1"><a [routerLink]="">收藏</a></li>
            <li class="li2"><a [routerLink]="">转发</a></li>
            <li class="li2"><a [routerLink]="">评论</a></li>
            <li class="li2"><a [routerLink]="">赞 1</a></li>
          </ul>
      </div>
  </div>
</div>