<!-- <p>
  topic works!
</p> -->
<div class="container">
    <h4>热门话题</h4>
    <hr>
    <ul class="topic">
      <li><a [routerLink]=""> #2015级程序设计基...#</a><span>6万</span></li>
      <li><a [routerLink]=""># 2015级面向对象程 ... #</a><span>6万</span></li>
      <li><a [routerLink]=""># cms与模板制作 #</a><span>3万</span></li>
      <li><a [routerLink]=""># 数据结构 #</a><span>3万</span></li>
      <li><a [routerLink]=""># 数据库原理（5.6. ... #</a><span>3万</span></li>
      <li><a [routerLink]=""># 2014级PHP程序 ... #</a><span>3万</span></li>
      <li><a [routerLink]=""># Web开发（二）20 ... #</a><span>2万</span></li>
      <li><a [routerLink]=""># 数据库系统概论 ... #</a><span>2万</span></li>
      <li><a [routerLink]=""># Web开发（二）20 ... #</a><span>1万</span></li>
      <li><a [routerLink]=""># web开发（一）20 ... #</a><span>1万</span></li>
    </ul>

</div>
