<div>
  <p>#2016级混合应用开发# 的学霸，学渣，听偶说～</p>
  <ul>
    <li><a [routerLink]="['/hudong']"><img src="assets/images/cu.png" class="im1"/></a></li>
    <li><a [routerLink]="['/hudong']"><img src="assets/images/xie.png" class="im2"/></a></li>
    <li><a [routerLink]="['/hudong']"><img src="assets/images/xia.png" class="im3"/></a></li>
    <li><a [routerLink]="['/hudong']"><img src="assets/images/11.png" class="im3"/></a></li>
    <li><a [routerLink]="['/hudong']"><img src="assets/images/hudong.png" class="im3"/></a></li>
    <li><a [routerLink]="['/hudong']"><img src="assets/images/picture.png" class="im3"/></a></li>
    <li><a [routerLink]="['/hudong']"><img src="assets/images/link.png" class="im3"/></a></li>
    <li><a [routerLink]="['/hudong']"><img src="assets/images/quan.png" class="im3"/></a></li>
  </ul>
  <textarea name="" id="text"></textarea>
  <div class="write">
    <img src="assets/images/hua.png" alt="" class="im4"><a>话题</a>&nbsp;&nbsp;<span style="color:whitesmoke;">|</span>&nbsp;&nbsp;
    <img src="assets/images/wen.png" alt="" class="im4"><a>发长文</a>
    <button id="btn">发布</button>
  </div>
</div>