.container{
    /* border: 1px solid red; */
    width: 1000px;
    height: 800px;
    margin-left: 114px;
}
.header{
    /* border: 1px solid blue; */
    width:700px;
    height: 30px;
    margin-top: 20px;

}
.header span{
    color: lightgray;
}
.header ul li{
    float: left;
    margin-left: 10px;
}
.header ul li a{
    font-size: 13px;
}
.work{
    color: orangered;
}
.work1{
    color: lightgray;
}
.im1{
    width: 15px;
    height: 15px;
}
p{
    /* border: 1px solid blue; */
    width: 300px;
    height: 30px;
    margin-top: 5px;
    margin-left: 10px;
}
.videos{
    /* border: 1px solid blue; */
    width: 980px;
    height: 700px;
    margin-left: 10px;
}
.video{
    /* border: 1px solid blue; */
    width: 680px;
    height: 510px;
    background-color: black;
}
.list{
    /* border: 1px solid red; */
    width: 260px;
    height: 510px;
    float: right;
    margin-right: 40px;
    background-color: rgb(61, 56, 56);
    color: gray;
}
.list1{
    margin-left: 70px;
    margin-top: 20px;
}
.list1 li{
    margin-top: 10px;
}
.list3{
    font-size: 13px;
}
.list2{
    font-size: 13px;
}
.list2 ul{
    margin-left: 15px;
}
.list2 ul li a{
    color: gray;
}
