.container{
    /* border:1px blue solid; */
    width: 1000px;
    height: 600px;
    margin: 10px 120px;
}
.container li{
    /* border:1px green solid; */
    height: 230px;
    float: left;
    margin-right: 10px;
}
.inside{
    margin-top: 40px;
    color: gray;
    font-family: '宋体';
    font-size: 12px;
}
h3{
    margin-left: 10px;
    font-family: '宋体';
    color:black;
}
.span1{
    margin-left: 10px;
}
.im1{
    width: 12px;
    height: 12px;
    margin-bottom: -1px;
}
#btn{
    float: right;
    color: white;
    margin-right: 10px;
    background-color: orange;
}
#btn span{
    font-weight: bolder;
    margin-left: 5px;
}