page-zhuce {
    ion-content{
        background:url(../assets/imgs/zhuce.png);
        background-size:cover;
    }
    p{
        color: #fff!important;
        text-align: center;
    }
    .box1{
        background: lightgray;
        opacity: 0.5;
    }
}
