
  <div class="inside">
    <ul>
      <li><img src="assets/images/study.png" class="im2"/><a [routerLink]="['./study']" class="a1">&nbsp;正在学习&nbsp;</a></li>
      <li><img src="assets/images/guanzhu.png" class="im1"/><a [routerLink]="['./guanzhu']" class="a2">&nbsp;我关注过的&nbsp;</a></li>
      <li><img src="assets/images/jie.png" class="im1"/><a [routerLink]="['./looked']" class="a2"> &nbsp;我看过的&nbsp;</a></li>
    </ul>
    <hr>
  </div>
  <div id="outside">
      <router-outlet></router-outlet>
  </div>  
