<!-- <p>
  home works!
</p> -->
<div class="left">
  <img src="assets/images/m.png">
  <span class="name">8-李薇</span><br>
  <span style="margin-left:30px;">0</span>
  <span style="margin-left:84px;">0</span><br/>
  <span class="fensi">粉丝</span>
  <span class="guanzhu">关注</span>
  <ul>
    <li><a [routerLink]="['./tasks']"><img src="assets/images/1.png" class="im1">&nbsp;&nbsp;任务
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></a></li>
    <li><a [routerLink]="['./tongbuke']"><img src="assets/images/tongbu.png" class="im1">&nbsp;&nbsp;同步课
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></a></li>
    <li><a [routerLink]="['./courses']"><img src="assets/images/course.png" class="im1">&nbsp;&nbsp;课程
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></a></li>
    <li><a [routerLink]="['./speak']"><img src="assets/images/2.png" class="im1">&nbsp;&nbsp;且说
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></a></li>
    <li><a [routerLink]="['./notice']"><img src="assets/images/3.png" class="im1">&nbsp;&nbsp;通知
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></a></li>
  </ul>
</div>
<div id="right">
    <router-outlet></router-outlet>
</div>
